embodied_ai/assets/**/*.safetensors filter=lfs diff=lfs merge=lfs -text
embodied_ai/vendor/rt1_pytorch/maruya24_rt1/film_efficientnet/efficientnet_checkpoints/*.pth filter=lfs diff=lfs merge=lfs -text
embodied_ai/dataset/*.pt filter=lfs diff=lfs merge=lfs -text
